.banner-item-title {
  text-align: center;
  left: 41.13%;
  right: 45.2%;
  top: 23.08%;
  bottom: 75.86%;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  color: #22262a;
}
.banner-item-navs {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin-left: 25%;
  margin-right: 25%;
}
.banner-item-navs-all,
.banner-item-navs-bags,
.banner-item-navs-sneakers,
.banner-item-navs-belt,
.banner-item-navs-sunglasses {
  text-decoration: none;
  color: #22262a;
  cursor: pointer;
}
.product-items-imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.imagecard {
  width: 22%;
  object-fit: fill;
}
.item-image {
  aspect-ratio: 1/1;
  object-fit: fill;
}

.hot-logo {
  background: url("/src/assets/icons/hot-label.png");
  height: 30px;
  width: 25%;
  background-repeat: no-repeat;
}
.top-space {
  height: 30px;
  width: 25%;
}
.hovering-box {
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center;
}
.hovering-box:hover {
  display: flex;
  position: relative;
  align-items: center;
  background: url("/src/assets/icons/overlay.png");
  height: 75%;
  width: 100%;
  background-size: 95%;
  background-repeat: no-repeat;
}
.hovering-box:hover .overlay-circle {
  margin-left: 20%;
  background: url("/src/assets/icons/Vector_circle.png");
  height: 30%;
  width: 20%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.product-img-title {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  padding-top: 3%;
  letter-spacing: 0.5px;
  color: #223263;
}

.disc-price {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #40bfff;
}
.org-price {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  letter-spacing: 0.5px;
  text-decoration-line: line-through;
  color: #9098b1;
}
.disc-offered {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #fb7181;
}
.stock-message {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}
.banner-end-text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 0px;
  color: #33a0ff;
}
.load-more-button {
  text-decoration: none;
  cursor: pointer;
  height: 0;
}
.banner-end-text-underline {
  width: 7.5rem;
}
